/*!*****************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/assets/styles/pages/about.sass ***!
  \*****************************************************************************************************************************/
.skill-block {
  border: 1px solid var(--gray);
  display: inline-block;
  max-width: 300px;
  min-width: 200px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}
.skill-block__name {
  font-weight: 600;
  padding: 8px;
  border-bottom: 1px solid var(--gray);
}
.skill-block__list {
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: start;
  align-items: start;
  color: var(--gray);
}

.about {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  align-items: center;
  flex-wrap: wrap;
}
.about__text {
  flex: 3 1 0;
  color: var(--gray);
  min-width: 300px;
}
.about__description {
  margin-bottom: 16px;
}
.about__illustrations {
  flex: 1 1 0;
  min-width: 300px;
}
.about__image {
  border-bottom: 1px solid var(--primary);
}

.skills__content {
  margin-top: 48px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: start;
}

.fact {
  padding: 8px;
  color: var(--gray);
  border: 1px solid var(--gray);
}

.facts__content {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
}
.facts__list {
  margin-top: 48px;
  display: flex;
  gap: 16px;
  align-items: start;
  flex-wrap: wrap;
}
