/*!****************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/assets/styles/pages/home.sass ***!
  \****************************************************************************************************************************/
.about {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.about__content {
  flex: 1 1 0;
  min-width: 300px;
}
.about__text {
  margin-bottom: 32px;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.about__description {
  color: var(--gray);
}
.about__image {
  flex: 1 1 0;
  max-width: 340px;
  border-bottom: 1px solid var(--primary);
}

.contacts {
  width: 100%;
}
.contacts__content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 48px;
}
.contacts__title {
  font-weight: 600;
}
.contacts__list {
  margin-top: 16px;
}
.contacts__media {
  border: 1px solid var(--gray);
  padding: 16px;
}
.contacts__description {
  color: var(--gray);
  max-width: 600px;
}

.contact {
  display: flex;
  gap: 8px;
  color: var(--gray);
  align-items: center;
  margin-top: 8px;
}
.contact:hover {
  filter: brightness(0) invert(1);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
}
.hero .dots {
  position: absolute;
  top: 40%;
  width: 12vmin;
  left: 70%;
  z-index: 4;
}
.hero__logo {
  position: absolute;
  width: 30vmin;
  top: 10%;
  z-index: 1;
  aspect-ratio: 1;
}
.hero__image {
  position: relative;
  z-index: 2;
  border-bottom: 1px solid var(--primary);
}
.hero__content, .hero__illustrations {
  flex: 1 1 0;
}
.hero__illustrations {
  position: relative;
  display: flex;
  flex-direction: column;
}
.hero__title {
  min-width: 300px;
  font-size: 32px;
  font-weight: 600;
}
.hero__title span {
  color: var(--primary);
}
.hero__description {
  color: var(--gray);
  margin-top: 32px;
  margin-bottom: 32px;
}
.hero__status {
  padding: 8px;
  border: 1px solid var(--gray);
  color: var(--gray);
  margin: 0 auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -1px;
  z-index: 5;
  gap: 8px;
  font-weight: 500;
}
.hero__status::before {
  content: "";
  display: inline-block;
  aspect-ratio: 1;
  width: 16px;
  background-color: var(--primary-op);
  border: 1px solid var(--primary);
}
.hero__status a {
  color: var(--white);
  text-decoration: underline;
}
.hero__status a:hover {
  color: var(--primary);
}

.projects__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 48px;
}
.projects__link {
  text-decoration: underline;
}
.projects__link:hover {
  color: var(--primary);
}

.quote {
  border: 1px solid var(--gray);
  position: relative;
  margin: 0;
}
.quote::before, .quote::after {
  content: '"';
  position: absolute;
  color: var(--gray);
  font-size: 64px;
  font-weight: 700;
  background-image: linear-gradient(var(--background), var(--background));
  background-size: 100% 40%;
  background-repeat: no-repeat;
}
.quote::before {
  top: -32px;
  left: 16px;
}
.quote::after {
  bottom: -64px;
  right: 16px;
}
.quote__text {
  padding: 32px;
  font-size: 24px;
  font-weight: 500;
  background-color: var(--background);
}
.quote__author {
  position: absolute;
  color: var(--gray);
  border: 1px solid var(--gray);
  padding: 8px;
  right: -1px;
  font-size: 16px;
}
.quote__author::before {
  content: "- ";
}

.skills {
  width: 100%;
}
.skills__content {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}
.skills .skill-block {
  margin-bottom: 16px;
}
.skills__list {
  column-gap: 16px;
  columns: 3;
}
@media (max-width: 768px) {
  .skills__list {
    columns: 2;
  }
}
@media (max-width: 500px) {
  .skills__list {
    columns: 1;
  }
}
.skills__illustrations, .skills__list {
  flex: 1 1 0;
}

.illustrations {
  position: relative;
  min-width: 300px;
  min-height: 300px;
}
.illustrations__logo {
  width: 14vmin;
  top: 30%;
  position: absolute;
  left: 70%;
}
.illustrations .dots:nth-of-type(2) {
  width: 16vmin;
  top: 70%;
  left: 10%;
  position: absolute;
}
.illustrations .dots:nth-of-type(1) {
  width: 10vmin;
  top: 20%;
  left: 40%;
  position: absolute;
}

.project {
  border: 1px solid var(--gray);
}
.project__links {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.project__image {
  border-bottom: 1px solid var(--gray);
  aspect-ratio: 16/9;
}
.project__content {
  padding: 16px;
}
.project__name {
  font-size: 24px;
  font-weight: 500;
}
.project__description {
  color: var(--gray);
  margin: 16px 0;
}
.project__techs {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
  color: var(--gray);
  padding: 8px;
  border-bottom: 1px solid var(--gray);
}

.project-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  align-items: start;
  margin-top: 48px;
}
@media (max-width: 1024px) {
  .project-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.skill-block {
  border: 1px solid var(--gray);
  display: inline-block;
  max-width: 300px;
  min-width: 200px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}
.skill-block__name {
  font-weight: 600;
  padding: 8px;
  border-bottom: 1px solid var(--gray);
}
.skill-block__list {
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: start;
  align-items: start;
  color: var(--gray);
}
