
    
:root
    --primary-cl: 287 60% 65%
    --gray-cl: 219 14% 71%

    --primary: hsl(var(--primary-cl))
    --gray: hsl(var(--gray-cl))
    --background: hsl(218, 12%, 18%)
    --white: hsl(0, 0%, 100%)

body, html
    background-color: var(--background)
    color: var(--white)
    font-family: "Fira Code", monospace
    display: flex
    gap: 112px
    flex-direction: column


.container
    $width: 1024px

    max-width: $width
    margin: 0 auto
    position: relative

    @media (max-width: $width)
        padding: 16px

.content
    margin-top: 112px
    flex: 1
    display: flex
    flex-direction: column
    align-items: center
    gap: 112px


.logo
    display: flex
    gap: 8px

    &__img
        aspect-ratio: 1
        width: 16px

    &__name
        font-weight: 700


